<a href="https://github.com/danielmarques12" target="_blank">
	<div class="group h-8 w-8 cursor-pointer rounded-md bg-gray-500">
		<button
			class="flex h-8 w-8 transform items-center justify-center gap-4 self-stretch rounded-md bg-white font-semibold text-white transition-transform duration-[400ms] group-hover:translate-x-[-5px] group-hover:translate-y-[-5px] group-focus:translate-x-[-5px] group-focus:translate-y-[-5px]"
		>
			<img src="github.svg" alt="github logo" />
		</button>
	</div>
</a>
