<a href="https://www.linkedin.com/in/danielmarquesdev" target="_blank">
	<div class="group h-8 w-8 cursor-pointer rounded-md bg-[#0a66c2]">
		<button
			class="flex h-8 w-8 transform items-center justify-center gap-4 self-stretch rounded-md bg-white font-semibold text-white transition-transform duration-[400ms] group-hover:translate-x-[-5px] group-hover:translate-y-[-5px] group-focus:translate-x-[-5px] group-focus:translate-y-[-5px]"
		>
			<img src="linkedin.svg" alt="linkedin logo" />
		</button>
	</div>
</a>
