---
import GithubButton from './github-button.astro'
import LinkedinButton from './linkedin-button.astro'
import MyBlogButton from './rss-button.astro'
import DownloadCVButton from './download-cv-button'
import ScrollingText from '../scrolling-text.astro'
---

<section
  aria-label="name, contact info and curriculum download button"
  class="flex h-screen snap-start flex-col items-center justify-center bg-orange-100"
>
  <div
    class="container flex h-screen items-center justify-center gap-12 md:flex-row md:gap-20"
  >
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-6 text-center">
        <div class="flex flex-col gap-4">
          <h1
            class="flex flex-col text-3xl font-semibold md:flex-row md:gap-5 md:text-8xl md:leading-[112px]"
          >
            <span>DANIEL MARQUES</span>
          </h1>

          <h2
            class="flex flex-col justify-center text-lg font-medium md:flex-row md:text-2xl"
          >
            <span> Software Engineer at</span>
            <a
              class="ml-2 underline hover:text-pink-500"
              href="https://www.therealreal.com/"
              target="_blank"
            >
              The RealReal
            </a>
          </h2>
        </div>

        <div class="mx-auto flex items-center gap-4">
          <LinkedinButton />
          <GithubButton />
          <MyBlogButton />

          <DownloadCVButton client:only />
        </div>
      </div>
    </div>
  </div>

  <ScrollingText />
</section>
