<div
	class="relative flex h-14 w-[100%] items-center justify-center overflow-hidden bg-slate-900"
>
	<div class="scrolling-text flex gap-2 whitespace-nowrap">
		<p class="text-xl uppercase text-zinc-400">
			REACT - NEXT.JS - TYPESCRIPT - NODE.JS - GRAPHQL - TAILWINDCSS - AWS - SEO
			OPTIMIZATION - JAVASCRIPT - HTML - CSS - SQL - POSTGRESQL - PRISMA ORM -
			GITHUB ACTIONS - ZUSTAND - ASTRO - MONOREPO - JEST - HEADLESS CMS
		</p>

		<p class="text-xl uppercase text-zinc-400">
			REACT - NEXT.JS - TYPESCRIPT - NODE.JS - GRAPHQL - TAILWINDCSS - AWS - SEO
			OPTIMIZATION - JAVASCRIPT - HTML - CSS - SQL - POSTGRESQL - PRISMA ORM -
			GITHUB ACTIONS - ZUSTAND - ASTRO - MONOREPO - JEST - HEADLESS CMS
		</p>
	</div>
</div>
