---
import Layout from '../layouts/layout.astro'
import GithubButton from '../components/github-button.astro'
import LinkedinButton from '../components/linkedin-button.astro'
import TwitterButton from '../components/twitter-button.astro'
import SlidingCards from '../components/sliding-cards.astro'
import CalCom from '../components/calcom'
import { CV } from '../components/cv'
---

<Layout title="Daniel Marques - Software Engineer">
	<main
		class="mx-auto flex flex-col gap-24 py-24 text-center md:max-w-6xl md:text-left"
	>
		<div class="flex flex-col-reverse gap-12 md:flex-row md:gap-20">
			<div class="flex flex-col gap-16">
				<div class="flex flex-col gap-6">
					<div class="flex flex-col gap-2">
						<h1 class="text-8xl font-semibold leading-[112px] md:max-w-5xl">
							DANIEL MARQUES
						</h1>
						<h2 class="text-2xl font-medium">
							Software Engineer at
							<a
								class="ml-2 underline hover:text-pink-300"
								href="https://www.therealreal.com/"
								target="_blank"
							>
								The RealReal
							</a>
						</h2>
					</div>

					<div class="flex items-center gap-4">
						<LinkedinButton />
						<TwitterButton />
						<GithubButton />

						<CV client:only />
					</div>
				</div>
			</div>
		</div>

		<div class="flex flex-col gap-8">
			<span class="mx-auto mt-1 text-4xl">TIMELINE</span>
			<!-- sticky on the year as well -->
			<p class="sticky top-0 mx-auto mt-1 text-4xl">2022</p>
		</div>

		<SlidingCards />

		<CalCom client:only />
	</main>
</Layout>
