---
import Layout from '../layouts/Layout.astro'
import SocialMediaButton from '../components/social-media-button.astro'
import SlidingCards from '../components/sliding-cards.astro'
import { CV } from '../components/cv'
---

<Layout title="Daniel Marques - Software Engineer">
	<main
		class="mx-auto flex flex-col gap-24 py-24 text-center md:max-w-6xl md:text-left"
	>
		<div class="flex flex-col-reverse gap-12 md:flex-row md:gap-20">
			<div class="flex flex-col gap-6">
				<h1 class="text-8xl font-semibold leading-[112px] md:max-w-5xl">
					DANIEL MARQUES
				</h1>
				<h2 class="text-2xl font-medium">
					Software Engineer at <a
						class="ml-2 underline hover:text-pink-500"
						href="https://www.therealreal.com/"
						target="_blank">The RealReal</a
					>
				</h2>

				<CV client:only />

				<div class="mt-12 flex flex-col gap-12 md:flex-row">
					<SocialMediaButton
						id="github"
						label="GitHub"
						url="https://github.com/danielmarques12"
					/>

					<SocialMediaButton
						id="linkedin"
						label="LinkedIn"
						url="https://www.linkedin.com/in/danielmarquesdev"
					/>
				</div>
			</div>
		</div>

		<div class="flex flex-col gap-8">
			<span class="mx-auto mt-1 text-4xl">TIMELINE</span>
			<!-- sticky on the year as well -->
			<p class="sticky top-0 mx-auto mt-1 text-4xl">2022</p>
		</div>

		<SlidingCards />
	</main>
</Layout>
