---
import Layout from '../layouts/layout.astro'
import Me from '../components/me/me.astro'
import AboutMe from '../components/about-me.astro'
import BookCall from '../components/book-call'
---

<Layout title="Daniel Marques - Software Engineer">
	<main
		class="mx-auto h-screen snap-y snap-mandatory overflow-scroll overflow-x-hidden text-center"
	>
		<Me />

		<AboutMe />

		<BookCall client:only />

		<!-- <OpenSource /> -->
	</main>
</Layout>
