---
import Layout from '../layouts/layout.astro'
import Me from '../components/me/me.astro'
import AboutMe from '../components/about-me.astro'
import BookCall from '../components/book-call'
---

<Layout title="Daniel Marques - Software Engineer">
	<main
		class="mx-auto h-screen overflow-scroll overflow-x-hidden text-center md:snap-y md:snap-mandatory"
	>
		<Me />

		<AboutMe />

		<div class="h-[2px] w-full bg-gray-300"></div>

		<BookCall client:only />

		<!-- <OpenSource /> -->
	</main>
</Layout>
