---
import Layout from '../layouts/layout.astro'
import Me from '../components/me/me.astro'
import Carrer from '../components/carrer.astro'
import BookCall from '../components/book-call'
---

<Layout title="Daniel Marques - Software Engineer">
	<main class="mx-auto text-center">
		<Me />
		<!-- <Carrer /> -->
		<BookCall client:only />

		<!-- <OpenSource /> -->
		<!-- <TechStack /> -->
	</main>
</Layout>
