---
import AboutMeParagraph from './about-me-paragraph.astro'
---

<section
  aria-label="about me"
  class="flex snap-start flex-col items-center justify-center bg-white md:h-screen"
>
  <div
    class="flex flex-col items-center justify-center gap-4 p-8 md:h-screen md:items-start md:gap-6 md:px-8 md:py-0"
  >
    <div
      class="mb-2 rounded-3xl border-[3px] border-b-8 border-r-4 border-black bg-white px-12 py-4"
    >
      <h2 class="text-lg md:text-3xl">Hello there! 😁</h2>
    </div>

    <p
      class="text-md flex items-center gap-2 rounded-md bg-orange-100 px-3 py-2 text-[#605574] md:text-xl"
    >
      I'm Daniel, a Software Engineer from Brazil
      <img class="hidden md:block" src="brazil.svg" alt="brazil flag" />
    </p>

    <AboutMeParagraph>I do mostly web dev related stuff.</AboutMeParagraph>

    <AboutMeParagraph>
      I'm usually working with frontend and backend, and sometimes I do some DB
      things as well.
    </AboutMeParagraph>

    <AboutMeParagraph>
      Recently, I have been captivated by the world of UI/UX design...
    </AboutMeParagraph>

    <AboutMeParagraph>
      ... and have been delving deeper into the subject.
    </AboutMeParagraph>

    <AboutMeParagraph>
      I instantly became a fan of the Neo Brutalism design when I first came
      across it on ...
    </AboutMeParagraph>

    <AboutMeParagraph>
      ... websites like <a
        class="underline hover:text-pink-500"
        href="https://www.figma.com"
        target="_blank">Figma.com</a
      > and <a
        class="underline hover:text-pink-500"
        href="https://prismic.io"
        target="_blank">Prismic.io</a
      >.
    </AboutMeParagraph>

    <AboutMeParagraph>
      I'm very passionate about software development and I'd love to <a
        class="underline hover:text-pink-500"
        href="#book-call"
      >
        chat with you about it!</a
      >
    </AboutMeParagraph>
  </div>
</section>
