<div class="group mt-8 h-12 w-40 border border-green-500">
	<div
		class="group h-12 w-40 transform border border-blue-500 transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2 group-focus:-translate-x-2 group-focus:-translate-y-2"
	>
		<div
			class="flex h-12 w-40 transform cursor-pointer items-center justify-center self-stretch bg-red-500 text-center text-sm font-bold uppercase text-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2 group-focus:-translate-x-2 group-focus:-translate-y-2"
		>
			Get Started
		</div>
	</div>
</div>
