<div class="mb-96 flex justify-center">
	<div class="flex gap-12">
		<div class="flex flex-col gap-8">
			<div
				class="mx-auto flex h-[556px] w-[556px] items-center justify-center rounded-3xl border-[3px] border-black bg-orange-100 text-5xl"
			>
				The RealReal
			</div>
			<div
				class="mx-auto flex h-[556px] w-[556px] items-center justify-center rounded-3xl border-[3px] border-black bg-orange-100 text-5xl"
			>
				Tok&Stok
			</div>
			<div
				class="mx-auto flex h-[556px] w-[556px] items-center justify-center rounded-3xl border-[3px] border-black bg-orange-100 text-5xl"
			>
				FIAP
			</div>
		</div>

		<div class="">
			<div class="sticky top-0 h-20">
				<img
					src="trr.png"
					width="556"
					height="556"
					alt="The RealReal store"
					class="sticky rounded-3xl border-[3px] border-black"
				/>
			</div>
		</div>
	</div>
</div>
