<div class="mb-96 flex justify-center">
	<div class="flex gap-12">
		<div class="flex flex-col gap-12">
			<div
				class="mx-auto flex h-[556px] w-[556px] items-center justify-center rounded-3xl border-[3px] border-black bg-orange-100 p-16"
			>
				<p class="text-center text-4xl">Joined The RealReal</p>
			</div>

			<div class="group">
				<div
					class="relative mx-auto flex h-[556px] w-[556px] items-center justify-center rounded-3xl border-[3px] border-black bg-orange-100 p-16 transition-all duration-500 group-hover:[transform:rotateY(180deg)]"
				>
					<p class="text-center text-3xl leading-normal">
						Worked on the Buy-Side. On the Homepage, CLP, PLP and PDP
					</p>
				</div>

				<div
					class="absolute mx-auto flex h-[556px] w-[556px] items-center justify-center overflow-hidden rounded-3xl border-[3px] border-black bg-orange-100 p-16 [backface-visibility:hidden] [transform:rotateY(180deg)]"
				>
					<p class="text-center text-3xl leading-normal">
						Worked with Elixir, Rails and Typescript
					</p>
				</div>
			</div>

			<div
				class="mx-auto flex h-[556px] w-[556px] items-center justify-center rounded-3xl border-[3px] border-black bg-orange-100 p-16"
			>
				<p class="text-center text-3xl leading-normal">
					Currently working on the Sell-Side
				</p>
			</div>

			<!-- Flip the card on hover and say that Tokstok is a big Brazilian retail company -->
			<div
				class="mx-auto flex h-[556px] w-[556px] flex-col items-center justify-center gap-4 rounded-3xl border-[3px] border-black bg-green-100 text-5xl"
			>
				<p class="text-center text-4xl">Joined Tok&Stok</p>
				<p class="text-center text-4xl">as a Software Engineer</p>
			</div>
		</div>

		<div class="">
			<div class="sticky top-0 h-20">
				<img
					src="trr.png"
					width="556"
					height="556"
					alt="The RealReal store"
					class="sticky rounded-3xl border-[3px] border-black"
				/>
			</div>
		</div>
	</div>
</div>
