<a href="https://github.com/danielmarques12" target="_blank">
	<div
		class="group h-20 w-64 cursor-pointer rounded-3xl border-[2px] border-black bg-pink-500"
	>
		<div
			class="group h-20 w-64 transform cursor-pointer rounded-3xl border-[2px] border-black bg-white transition-transform group-hover:translate-x-[-12px] group-hover:translate-y-[-12px] group-focus:translate-x-[-12px] group-focus:translate-y-[-12px]"
		>
			<button
				class="flex h-20 w-64 transform items-center justify-center gap-4 self-stretch rounded-3xl bg-black font-semibold text-white transition-transform group-hover:translate-x-[-12px] group-hover:translate-y-[-12px] group-focus:translate-x-[-12px] group-focus:translate-y-[-12px]"
			>
				<p class="text-2xl">GitHub</p>
				<img src="github.svg" alt="logo" />
			</button>
		</div>
	</div>
</a>
