---
import { SEO } from 'astro-seo'

export interface Props {
	title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<SEO
			title="danielmarques.dev"
			description="Daniel Marques - Software Engineer - React, Next.js, Javascript, Typescript"
			openGraph={{
				basic: {
					title: 'Daniel Marques - Software Engineer',
					type: 'A type.',
					image: 'https://avatars.githubusercontent.com/u/32924232?v=4',
					url: 'https://danielmarques.dev'
				}
			}}
			twitter={{
				creator: '@danielm_dev'
			}}
			extend={{
				// extending the default link tags
				link: [{ rel: 'icon', href: '/favicon.ico' }],
				// extending the default meta tags
				meta: [
					{
						name: 'twitter:image',
						content: 'https://avatars.githubusercontent.com/u/32924232?v=4'
					},
					{ name: 'twitter:title', content: 'Daniel Marques' },
					{ name: 'twitter:description', content: 'Software Engineer' }
				]
			}}
		/>
	</head>
	<body>
		<slot />
		<style is:global>
			* {
				overflow-x: hidden;
			}

			*::-webkit-scrollbar {
				width: 12px;
			}

			*::-webkit-scrollbar-track {
				background: #272522;
			}

			*::-webkit-scrollbar-thumb {
				background-color: #fbcfe8;
				border-radius: 100px;
				border: 2px solid #000;
				background-clip: padding-box;
			}

			body {
				font-family: 'oddval';
			}

			.scrolling-text {
				/* animation properties */
				-moz-transform: translateX(25%);
				-webkit-transform: translateX(25%);
				transform: translateX(25%);

				-moz-animation: scrolling-text-animation 7.5s infinite linear;
				-webkit-animation: scrolling-text-animation 7.5s infinite linear;
				animation: scrolling-text-animation 7.5s infinite linear;
			}

			/* for Firefox */
			@-moz-keyframes my-animation {
				from {
					-moz-transform: translateX(0%);
				}
				to {
					-moz-transform: translateX(25%);
				}
			}

			/* for Chrome */
			@-webkit-keyframes scrolling-text-animation {
				from {
					-webkit-transform: translateX(25%);
				}
				to {
					-webkit-transform: translateX(0%);
				}
			}

			@keyframes scrolling-text-animation {
				from {
					-moz-transform: translateX(25%);
					-webkit-transform: translateX(25%);
					transform: translateX(25%);
				}
				to {
					-moz-transform: translateX(0%);
					-webkit-transform: translateX(0%);
					transform: translateX(0%);
				}
			}

			@font-face {
				font-family: 'oddval';
				src: url('/fonts/oddval.woff') format('woff');
				font-weight: normal;
				font-style: normal;
				font-display: swap;
			}
		</style>
	</body>
</html>
